<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stackoverflow _lite</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="main">
        <header>
            <h1>StackOverflow
                <em class="in">-lite</em>
            </h1>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="user-profile.html">User-Profile</a>
                    </li>
                    <li>
                        <a href="topics.html">Topics</a>
                    </li>
                    <li>
                        <a href="questions.html">Questions</a>
                    </li>

                </ul>
            </nav>
        </header>
        <div class="parent-element">
            <div class="a-element">
                <h3>Sign In</h3>
                <label for="username">Username:</label>
                <input type="text" value="username" placeholder="Username">
                <label for="password">Password:</label>
                <input type="password" value="password" placeholder="Password">
                <br>
                <input type="submit" name="submit" value="submit">

            </div>
            <div class="b-element">
                <h3>Select Topic</h3>
                <select name="Available Topics" id="topic">
                    <option value="Social life">Social life</option>
                    <option value="Fashion and Style">Fashion and Style</option>
                    <option value="Psycology">Psycology</option>
                    <option value="Fitness and Wellness">Fitness and Welness</option>
                    <option value="Good Hair Tips">Good Hair Tips</option>
                    <option value="Relationships">Relationships</option>
                    <option value="Politics">Politics</option>
                </select>
            </div>
            <div class="c-element">
                <h3>Ask a Question</h3>
                <textarea name="Question" id="qtn" cols="60" rows="15">Ask:</textarea>
                <br>
                <input type="submit" name="Post a Question" value="Post">
            </div>
        </div>
        <footer>
            <h4>stack over flow</h4>
        </footer>
    </div>
</body>

</html>