body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 241, 241);
}

header {
    background: #cad4ca;
    padding: 15px;
    text-transform: uppercase;
}

h1 {
    text-transform: lowercase;
}

.in {
    color: rgb(110, 107, 107);
}

.navbar {
    text-align: right;
}

a {
    text-decoration: none;
    color: rgb(110, 107, 107);
}

.navbar a:hover {
    color: rgb(33, 177, 28);
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    padding-right: 10px;
}

.parent-element {
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.a-element label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.a-element input {
    border: none;
    padding: 10px;
}

.a-element input.signin {
    color: white;
    background: rgb(79, 149, 182);
    margin-top: 10px;
}

.sign {
    color: rgb(75, 72, 72);
    margin-top: 40px;
}

.b-element select {
    border: none;
    padding: 10px;
}

.b-element #search {
    border-radius: 5px;
    color: rgb(49, 47, 47);
    border: 1px solid rgb(221, 215, 215);
    padding-left: 20px;
    background-color: transparent;
    resize: none;
    outline: none;
}

.c-element #qtn {
    border-radius: 10px;
    color: rgb(126, 119, 119);
    border: 1px solid rgb(221, 215, 215);
    padding-left: 20px;
    resize: none;
    outline: none;
}

.c-element input {
    color: white;
    background: rgb(79, 149, 182);
    margin-top: 10px;
}

.SignU h2 {
    color: rgb(135, 192, 192);
    text-shadow: green;
    text-align: center;
}

.SignU form {
    margin: 0 auto;
    width: 400px;
}

.SignU input {
    display: block;
    width: 100%;
    position: center;
    padding: 15px;
    margin-top: 10px;
    border: none;
    background: white;
    color: rgb(107, 104, 104);
}

.SignU input.signup {
    width: 20%;
    background: rgb(79, 149, 182);
    color: white;
    text-align: left;
}

.sign1 {
    color: rgb(75, 72, 72);
    margin-top: 40px;
    text-align: center;
}

.profile a {
    display: block;
    margin: 20px;
}

.userdata {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.topic input {
    display: block;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 5px;
    color: white;
    background: rgb(73, 70, 70);
}

.query #qtn {
    border-radius: 10px;
    color: rgb(126, 119, 119);
    border: 1px solid rgb(221, 215, 215);
    padding-left: 20px;
    resize: none;
    outline: none;
}

.query input {
    color: white;
    background: rgb(133, 187, 189);
}

#tpic {
    margin: 20px;
}

.answer {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}

.tee #tpic {
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
    background: rgb(140, 208, 212);
    color: white;
}

.tee a {
    color: rgb(33, 189, 189);
    margin-right: 10px;
}

.recent a {
    display: block;
    margin-bottom: 10px;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background: rgb(168, 165, 165);
    color: #063c4d;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 0;
}

.signout {
    text-align: center;
    padding-top: 40px;
}

@media screen and (max-width:600px) {
    background-color: azure;
}