<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stackoverflow _lite|Questions</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="main">
        <header>
            <h1>StackOverflow
                <em class="in">-lite</em>
            </h1>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="user-profile.html">User-Profile</a>
                    </li>
                    <li>
                        <a href="questions.html">Questions</a>
                    </li>

                </ul>
            </nav>
        </header>
        <section>
            <div class="answer">
                <div class="tee">
                    <select id="tpic">
                        <option value="Social">Social</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Programming">Programming</option>
                        <option value="AI">AI</option>
                        <option value="Health">Health</option>
                        <option value="Games">Games</option>
                        <option value="Communication">Communication</option>
                    </select>
                    <h3> How does Juicing help in weightloss?</h3>
                    <a href="#">Answer</a>
                    <a href="#">Comment</a>
                    <a href="#">Delete</a>
                    <a href="#">Downvote</a>
                    <a href="#">Like</a>
                    <a href="#">Upvote</a>

                </div>


                <div class="last">
                    <div class="query">
                        <h3>Ask a Question</h3>
                        <textarea name="Question" id="qtn" cols="50" rows="5" placeholder="Type starting with How,Why,What,Is,What and Are?"></textarea>
                        <br>
                        <input type="submit" name="Post a Question" value="Post">
                    </div>
                    <div class="recent">
                        <h3>Recent questions</h3>
                        <a href="#">Is Javascript easy to learn?</a>
                        <a href="#">Is Machine Learning the same as AI?</a>
                        <a href="#">Why use a Nutribullet for blending fruits?</a>
                        <a href="#">What are APIs?</a>
                        <a href="#">Which Applications do programmers frequently use?</a>
                        <a href="#">Are you Dating?</a>
                        <a href="#">Is MYSQL very complicated to use these days?</a>


                    </div>
                </div>
            </div>
        </section>


        <footer>
            <h4> &reg; stack over flow &rarr; lite</h4>
        </footer>
    </div>
</body>

</html>