<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stackoverflow _lite |SignOut</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="signout">
        <h2>Thank You for using Stackoverflow-lite</h2>
        <div class="sign">
            <p> Back to home &rarr;
                <a href="index.html" id="#11">
                    <b>Sign in</b>
                </a>


        </div>


        <footer>
            <h4> &reg; stack over flow &rarr; lite</h4>
        </footer>
    </div>
</body>

</html