<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stackoverflow _lite</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="main">
        <header>
            <h1>StackOverflow
                <em class="in">-lite</em>
            </h1>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="user-profile.html">User-Profile</a>
                    </li>
                    <li>
                        <a href="topics.html">Topics</a>
                    </li>
                    <li>
                        <a href="questions.html">Questions</a>
                    </li>

                </ul>
            </nav>
        </header>
        <footer>
            <h4>stack over flow</h4>
        </footer>
    </div>
</body>

</html>